<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <head>
    	<title>Turnir v košarki</title>
    </head>
    <body style="background-color:powderblue;">
    	<h1 class="title" style="color:DodgerBlue;">Najboljši posamezniki</h1>
	    <div class="content">
    <ul>
    <li>
    Največ točk je dosegel <b>{{najboljsi}}</b>!
    </li>
    <li>
    Največ podaj je dosegel <b>{{najboljsi_pod}}</b>!
    </li>
    <li>
    Največ skokov je dosegel <b>{{najboljsi_sk}}</b>!
    </li> 
    </ul>
    </div>
    </body>
    <footer><a href='/'>Začetna stran</a></footer>
    
</html>
 