<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <head>
    	<title>Turnir v košarki</title>
    </head>
    <body style="background-color:powderblue;">
    	<h1 class="title" style="color:DodgerBlue;">Statistika tekme</h1>
	<form action="/spremembe_tekme/igralec/">
    		<label>Statistiko katerega igralca želite spremeniti?</label>
		<div class="field">
 		 <div class="control">
   		  <div class="select is-info">
    		   <select name="ime_igralca">
                	   %for igralec in seznam_igralcev:
        			   <option type="text" value={{igralec}}>{{igralec[:-4]}}</option>
    			   %end
  		   </select>
  	          </div>
 		 </div>
		</div>
		<input type="submit" value="Potrdi!">
	</form>
    </body>
    <footer><a href='/'>Začetna stran</a></footer>
</html>