<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <head>
    <title>Turnir v košarki</title>
    </head>
    <body style="background-color:powderblue;">
    <h1 class="title" style="color:DodgerBlue;">Turnir v košarki</h1>
    <div class="content">
    <p>
    Pozdravljeni na strani turnirja v košarki, ki sta ga gostila Marko in Don.
    <br/>
    Ogledate si lahko naslednje stvari:
    </p>
    <ul>
    <li>
    Najboljši <a href="/najboljsi/">posamezniki</a>
    </li>
    <li>
    Povprečna <a href="/povprečja/">statistika igralcev</a>
    </li>
    <li>
    Vrstni red ekip na <a href="/lestvica/">lestvici</a> po koncu turnirja 
    </li>
    <li>
    Rezultati vseh <a href="/rezultati/">tekem</a> na turnirju
    </li>
    </ul>
    <p>
    Spremenite lahko naslednje stvari:
    </p>
    <ul>
    <li>
    Ime <a href="/ekipe/">ekipe</a>
    </li>
    <li>
    Statistiko posamezne <a href="/tekme/">tekme</a>
    </li>
    </body>
    </div>
</html>